* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

.main-content {
  width: 999px;
  margin-right: auto;
  margin-left: auto;
}

html,
body {
  overflow-x: hidden; /* Ẩn thanh cuộn ngang */
  /* height: 100vh; Đặt body đúng với kích thước màn hình */
  overflow-y: auto; /* Giữ cuộn chính, tránh cuộn thừa */
}

/* Heading-top */

.heading-top {
  background-color: #e60012;
}

.heading-top .heading-top_block {
  display: flex;
  justify-content: space-between;
  padding: 20px 30px;
}

/* .heading-top .heading-top_block:hover {
  cursor: pointer;
  background-color: gray;
} */

.heading-top .login_signup_block {
  display: flex;
  padding: 5px;
}

.heading-top .login_signup_block:hover {
  cursor: pointer;
  opacity: 0.6;
  border: 1px solid black;
  border-radius: 14px;
}

.heading-top .logo {
  height: 24px;
  width: 97px;
}

.heading-top .admin_icon {
  height: 19px;
  width: 16px;
}

.heading-top .login_signup {
  border: none;
  background-color: #e60012;
  color: #fff;
  font-weight: 600;
  margin-left: 10px;
  font-family: "Chakra Petch", sans-serif;
  font-weight: 600;
  font-style: normal;
}

/* Heading-mid */

.heading-mid {
  background-color: #000000;
  color: #fff;
  display: flex;
  justify-content: center;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.heading-mid .arrow_img {
  height: 10px;
  width: 23px;
}

.heading-mid .mini_title {
  padding: 0px 5px;
}

/* heading-botton */

.heading-botton {
  background-image: url(./img/backgr_BOTW.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-top: 2px solid #b99f65;
  border-bottom: 2px solid #b99f65;
}

.heading-botton .nav a {
  color: #fff;
}

.heading-botton,
.heading-mid,
.heading-top {
  position: relative;
  z-index: 2;
}

.heading-botton,
.nav {
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav {
  margin-left: 460px;
}

.nav a {
  margin-right: 20px;
  font-size: 30px;
  font-family: "Chakra Petch", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.nav a:hover {
  color: #b99f65;
}

.logo_ninte {
  padding: 10px;
  margin-left: auto;
}

/* PHAN MAIN VIDEO  */

#first_video {
  position: absolute;
  position: relative;
  margin-top: -238px;
  z-index: 1;
  margin-bottom: -112px;
}

.zelda_botw_logo {
  position: absolute;
  top: 43%;
  left: 94%;
  transform: translate(-50%, -50%);
  height: 182px;
  width: 180px;
  z-index: 1;
}

.everyone10 {
  position: absolute;
  z-index: 1;
  top: 70%;
  left: 1%;
  height: 80px;
  width: 53px;
}

.rimblock {
  display: flex;
}

.rimblock .rim {
  height: 30px;
  width: 400px;
  margin-bottom: -0.9px;
}

.info-content {
  background-image: url(./img/backgr_BOTW.jpg);
}

.info-block {
  position: relative;
  z-index: 2;
}

.Vitinhtu22,
.Vitinhtu11 {
  height: 90px;
  width: 90px;
}

.Vitinhtu11 {
  transform: rotate(218deg);
}

.Vitinhtu22 {
  transform: rotate(218deg);
}

.title {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px;
}

.title .Buynow {
  color: #fff;
  font-family: "Chakra Petch", sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: 50px;
  padding-left: 30px;
  padding-right: 30px;
}

.info-content .sub-title {
  position: relative;
  color: #fff;
  display: flex;
  justify-content: center;
  font-family: "Chakra Petch", sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: 45px;
  text-align: center;
}

.info-content .sub-title::after {
  content: "";
  position: absolute;
  border: 1px solid #af966d;
  background-color: #af966d;
  height: 1px;
  width: 500px;
  bottom: 0;
  margin-bottom: -20px;
}

.DE-class {
  margin-top: 140px;
  display: flex;
}

.DE-class .title-DE {
  color: #fff;
  position: relative;
  font-size: 47px;
  font-family: "Chakra Petch", sans-serif;
  margin-bottom: 17px;
  color: #af966d;
}

.DE-class .title-DE::after {
  position: absolute;
  content: "";
  border: 1px solid #af966d;
  height: 1px;
  width: 200px;
  bottom: 0;
  left: 0;
  background-color: #af966d;
  margin-bottom: -10px;
}
.DE-class .sub-title-DE {
  color: #fff;
  margin-top: 40px;
  font-size: 25px;
  width: 396px;
  line-height: 1.2;
}

.DE-class .sub-title-DE a {
  font-style: italic;
  color: #00a3da;
}

.DE-class .price {
  display: flex;
  margin-top: 20px;
  font-size: 30px;
  font-weight: 600;
  font-family: "Chakra Petch", sans-serif;
}

.DE-class .price .us {
  color: #af966d;
  margin-right: 10px;
}
.DE-class .price .us span {
  color: #fff;
}

.DE-class .Buynow_DE {
  margin-top: 20px;
  font-family: "Chakra Petch", sans-serif;
  font-size: 15px;
  padding: 10px 30px;
  border-radius: 2px;
}

.DE-class .Buynow_DE:hover {
  cursor: pointer;
  opacity: 0.9;
}

.DE-class .addTowishlist {
  display: flex;
  color: black;
  align-items: center;
  background-color: white;
  width: 150px;
  margin-top: 30px;
  border-radius: 2px;
}

.DE-class .addTowishlist .icon_tim {
  height: 40px;
  width: 40px;
}

.DE-class .addTowishlist:hover {
  cursor: pointer;
}
.DE-class .addTowishlist .icon_tim:hover {
  background-color: #e60012;
}

.DE-class-right .linkAndHouse {
  width: 568px;
  height: 379px;
  margin-left: 90px;
  margin-top: 30px;
}
